{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "<< name >>.serviceAccountName" . }}
  labels:
    {{- include "<< name >>.labels" . | nindent 4 }}
  {{- with (include "<< name >>.annotations" . | trim) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}
